<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página inicial</title>
    <style>
        body {
            background-color: rgb(37, 171, 224);
            color: rgb(144, 0, 228);
            font: normal 15pt Arial;
        }

        h1 {
            color: rgb(110, 0, 173);
        }
    </style>
</head>
<body>
    <body>
        <h1>Seja bem-vindo!</h1>

        <p>Clique em "Login" para acessar o site.</p>
        <div>
            <a href="{% url 'login' %}">Login</a>
        </div>
    </body>
</body>
</html>